
div{
  display: inline-block;
  border-collapse: collapse;
  padding:0;
  margin:0;
  width: 19%;
}

ul{
  display: block;
  border-collapse: collapse;
  list-style-type: none;
  margin:0;
  padding:0;
}

li{
  display: inline-block;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  height: 20px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

section{
  display:block;
  width: 100%;
}

#topnavbar{
  height: 50px;
  color: #666;
  font-size: small;
}

#bottomnavbar{
  height: 50px;
  background-color: #f2f2f2;
  color: #666;
  font-size: small;
}

#bottomleftnavbar{

}

#bottomrightnavbar{

}

.topnavbar{
  text-align: right;
}

.leftnav{
  text-align: left;

}

.rightnav{
  text-align: right;
}
